@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1250px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 12px;
  padding-right: 12px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 980px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
:root {
  --header-height: 8rem;
  --primary-color1: #000;
  --primary-color2: #fff;
  --second-color1: #55befa;
  --second-color2: #cfac7b;
}

::selection {
  background-color: var(--primary-color1);
  color: var(--primary-color2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Inout {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes quay {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes LeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes Up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes SubnavDown {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes Skew {
  from {
    transform: skew(0, 0);
  }
  to {
    transform: skew(3deg, 3deg);
  }
}
@keyframes fullWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
}

.btn {
  text-align: center;
}

.btn a {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 16rem;
  height: 4rem;
  padding: 1rem 2rem;
  background-color: var(--second-color2);
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn a::before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  right: -1rem;
  left: -1rem;
  bottom: -1rem;
  border: 0.1rem solid var(--second-color2);
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn a:hover {
  background-color: rgba(207, 172, 123, 0.7882352941);
  transition: all 0.3s linear;
}

#header {
  height: var(--header-height);
  line-height: var(--header-height);
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.header-content {
  display: flex;
  height: var(--header-height);
}

.header-logo {
  margin-right: 3rem;
  height: var(--header-height);
}

.header-logo a {
  margin-top: 1rem;
  width: 16.2rem;
  height: 7rem;
  display: block;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header-nav {
  display: flex;
  flex: 1px;
}

.header-nav > li {
  position: relative;
}

.header-nav > li > a {
  line-height: var(--header-height);
  font-size: 2rem;
  color: var(--second-color2);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 4rem;
  display: block;
  position: relative;
}

.header-nav > li:hover::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: var(--second-color1);
}

.header-nav > li:hover > .header-subnav {
  display: flex;
}

.header-subnav {
  padding: 1rem 21.5%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 25rem;
  background-color: rgba(7, 29, 15, 0.678);
  z-index: 9;
}

.header-subnav ul {
  margin-right: 9rem;
}

.header-subnav li {
  text-align: center;
  line-height: 3.5rem;
}

.header-subnav li a {
  font-size: 1.6rem;
  color: var(--second-color2);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header-subnav li a:hover {
  transition: all 0.3s linear;
  color: var(--second-color1);
}

#slider {
  position: relative;
  margin-top: var(--header-height);
  height: 52rem;
  background: url(../images/banner1.jpg) center/cover no-repeat;
}

.slider-content::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.5rem;
  right: 1rem;
  left: -2rem;
  bottom: -1.5rem;
  border: 0.1rem solid #fff;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.slick-slider {
  left: 65%;
  transform: translate(-64%, 9%);
}

.slick-slide img {
  height: 40rem;
  border-radius: 4rem;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: transparent;
  font-size: 8rem;
  border: none;
  outline: none;
  z-index: 2;
}

.slider-content .slick-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.slick-arrow:hover {
  cursor: pointer;
}

.slick-prev {
  left: 2%;
}

.slick-next {
  right: 4%;
}

.slider-content .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
}

.slider-content .slick-dots li {
  margin-right: 1.5rem;
}

.slider-content .slick-dots li button {
  font-size: 0;
  background-color: #d3d3d3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.slider-content .slick-dots li.slick-active button {
  background-color: #6d6d6d;
}

#content {
  padding: 8rem 0;
  background-color: #fff;
}

.post-container {
  margin-bottom: 5rem;
}

.post-items {
  margin-bottom: 2.5rem;
}

.post-items_image {
  overflow: hidden;
  max-height: 24rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.post-items img {
  width: 100%;
  display: block;
}

.post-items img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.post-items_content {
  padding: 2rem;
  min-height: 22rem;
  background-color: rgba(236, 236, 236, 0.63);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  box-shadow: 0 0.4rem 0 0 #ccc;
}

.post-items_content__category {
  color: var(--second-color2);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.post-items_content__title {
  color: #000;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-items_content__desc {
  color: #666;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-items_content__time {
  color: #666;
  font-size: 1.4rem;
}

.banner {
  position: relative;
  padding-top: var(--header-height);
  height: 32rem;
  background: url(../images/banner1.jpg) center/cover no-repeat;
}

.banner-bread_crumb {
  position: absolute;
  top: 2rem;
  color: #9c9c9c;
  font-size: 1.4rem;
  font-weight: bold;
}

.banner-bread_crumb span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.banner-img {
  display: block;
  position: absolute;
  width: 93%;
  bottom: -15rem;
  border: 0.1rem solid var(--second-color2);
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  box-shadow: 0.3rem 0.3rem 2rem 0 rgba(48, 47, 47, 0.6901960784);
}

.content-container {
  padding-top: 20rem;
}

.tin-khuyen-mai {
  margin: 2rem 0 4rem 0;
  padding: 2rem 0;
  border: 0.2rem solid var(--second-color2);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.tin-khuyen-mai h3 {
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.noidung-baiviet p {
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.noidung-baiviet img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  min-width: 40rem;
}

.noidung-baiviet ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

.noidung-baiviet ul li {
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#footer {
  background-color: #111;
  padding: 4rem 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.footer-brand {
  margin-bottom: 5rem;
}

.footer-desc {
  width: 85rem;
  margin: 0 auto;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-socials li:not(:last-child) {
  margin-right: 2.5rem;
}

.footer-socials li a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #fff;
}

.footer-socials li a i {
  font-size: 2.4rem;
  margin-right: 0.5rem;
}

.footer-playnow {
  width: 42rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-playnow img {
  width: 13rem;
}

/*# sourceMappingURL=app.css.map */
