<div id="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="../images/footer-logo.png" alt="">
        </div>
        <p class="footer-desc">
            Sản phẩm được hợp tác phát hành bởi Công ty TNHH Liên Minh Huyền Thoại & Công ty Cổ phần Giải trí và Thể
            thao Điện tử Việt Nam.
            Văn phòng đại diện: Tầng 29, tòa nhà Trung tâm Lotte Hà Nội, số 54 đường Liễu Giai, phường Cống Vị, quận Ba
            Đình, thành phố Hà Nội, Việt Nam.
            Điện thoại: (04)7305-3939; Fax: (04)3759-2429
        </p>
        <ul class="footer-socials">
            <li>
                <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
            </li>
            <li>
                <a href="#"><i class="fab fa-youtube"></i>Youtube</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-info-circle"></i>Điều khoản dịch vụ</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-list-ul"></i>Trung tâm hỗ trợ</a>
            </li>
        </ul>
        <div class="footer-playnow">
            <div class="btn">
                <a href="#">Chơi ngay</a>
            </div>
            <img src="../images/footer-logo2.png" alt="">
        </div>
    </div>
</div>