<div id="header">
    <div class="grid wide">
        <div class="header-content">
            <div class="header-logo">
                <a href="#"></a>
            </div>
            <ul class="header-nav">
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Esports</a></li>
                <li><a href="#">Hỗ trợ</a></li>
                <li><a href="#">Tải game</a></li>
                <li><a href="#">Nạp thẻ</a></li>
                <div class="header-subnav">
                    <ul>
                        <li><a href="#">Sự kiện</a></li>
                        <li><a href="#">Tin game</a></li>
                        <li><a href="#">Esports</a></li>
                        <li><a href="#">Cộng đồng</a></li>
                        <li><a href="#">Cẩm nang</a></li>
                        <li><a href="#">Vũ trụ</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Tướng</a></li>
                        <li><a href="#">Trang bị</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>