<div id="slider">
    <div class="grid wide">
        <div class="slider-content">
            <div class="slider-item">
                <img src="../images/slider/slide1.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="../images/slider/slide2.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="../images/slider/slide3.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="../images/slider/slide4.jpg" alt="" width="97.4%">
            </div>
            <div class="slider-item">
                <img src="../images/slider/slide5.png" alt="">
            </div>
        </div>
    </div>
</div>