<div id="start">
    <div class="grid wide">
        <div class="start-container">
            <ul class="start-lists">
                <li><a href="#">Help</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
        </div>
    </div>
</div>