<div id="content">
    <div class="grid wide">
        <div class="post-container">
            <div class="row">
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền
                                ThoạiCKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại</h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra
                                sao?Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?ạn sẽ hòa mình vào mùa Chung
                                Kết Thế Giới này ra sao?</p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại
                            </h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?
                            </p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại
                            </h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?
                            </p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền
                                ThoạiCKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại</h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra
                                sao?Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?ạn sẽ hòa mình vào mùa Chung
                                Kết Thế Giới này ra sao?</p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại
                            </h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?
                            </p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="post-items">
                        <div class="post-items_image">
                            <img src="../images/posts/post1.jpg" alt="">
                        </div>
                        <div class="post-items_content">
                            <p class="post-items_content__category">Tin Game</p>
                            <h2 class="post-items_content__title">CKTG 2022 | Giới thiệu Sự kiện - Liên Minh Huyền Thoại
                            </h2>
                            <p class="post-items_content__desc">Bạn sẽ hòa mình vào mùa Chung Kết Thế Giới này ra sao?
                            </p>
                            <p class="post-items_content__time">18:00 07/10/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn">
            <a href="#">Xem thêm</a>
        </div>
    </div>
</div>